
@font-face {
  font-family: Oswald;
  src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:antiquewhite;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: Oswald;
}

li {
  float: left;
}

li a {
  width: 100%;
  padding: 10px 20px;
  background-color: #f5f0ea;
  border-width: 2px;
}
.row {
  column-count: 3;
  column-gap: 10%
   column-fill: auto;
}
 

}
li a:hover {
  background-color: rgb(245, 199, 199);
  cursor: pointer;
}
.column {
  float: left;
  padding: 10px;
}
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 25%;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
