body {
  background-color: #f7f5ee;
  margin: 0px 0px;
  align-items: center;
}
/* menu bar  */
.menuBar {
  width: 100%;
  padding: 10px 20px;
  background-color: #f5f0ea;
  border-width: 2px;
}
.logo {
  width: 50px;
  margin-left: 20px;
}
.logo:hover {
  cursor: pointer;
}

.titleMenu {
  position: absolute;
  color: purple;
  transition: 0.5s;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}
.titleMenu:hover {
  cursor: pointer;
  color: #f491b8;
  font-weight: bold;
}
.titleMenu:focus {
  text-decoration: underline;
}
.titleHome {
  left: 200px;
  top: 3px;
}
.titleProduct {
  left: 350px;
  top: 3px;
}
.titleBeautyHolder {
  left: 200px;
  top: 3px;
}
.titleTimKiem {
  left: 400px;
  top: 3px;
}
.titleTinTuc{
  left: 550px;
  top: 3px;
}

/*
* THIS IS FOR SLIDE 
*/
.container {
  position: relative;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}

.mySlides {
  width: 100%;
  height: 600px;
}

.boxIn {
  position: absolute;
  z-index: 1;
  width: 50%; height: 15%;
  left: 0; right: 0; margin: auto;
  top: 40%;
  background-color: white;
  border-radius: 50px;
  /* display: none; */
  opacity: .6;
  overflow: hidden;
}
.boxIn:hover {
  cursor: pointer;
  opacity: 1;
}
.boxIn:first-child {
  opacity: 1;
}

.search {
  width: 80%;
  height: 100%;
  outline: 0px;
  font-size: 30px;
  color: #f491b8;
  border: 0px solid white;
  padding-left: 30px;
}
.ic_search {
  width: 40px;
  position: absolute;
  top: 22px;
  right: 40px;
}
.ic_search:hover {
  cursor: pointer;
}

.down {
  animation: down 1s ease;
}

@keyframes down {
  0% {
      margin-top: 0px;
  }
  100% {
      margin-top: 0px;
  }
}

.up {
  animation: up 1s ease;
}

@keyframes up {
  0% {
      margin-top: 0px;
  }
  100% {
      margin-top: 0px;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 3.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
}

@keyframes fade {
  from {
      opacity: .4;
  }
  to {
      opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
      opacity: .4;
  }
  to {
      opacity: 1;
  }
}

.myButtons {
  position: absolute;
  z-index: 1;
  color: #f491b8;
  padding: 20px;
  font-size: 50px;
  margin: 0px 0px;
  top: 40%;
  visibility: hidden;
  transition: 0.5s all ease-in;
  cursor: pointer;
}

.container:hover .myButtons {
  visibility: visible;
}

.myButtons:hover {
  background-color: #f491b8;
  color: white;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}


.myDots {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 0; right: 0; margin: auto;
  text-align: center;
  visibility: hidden;
  transition: 0.5s all ease;
}

.container:hover .myDots {
  visibility: visible;
}

.dot {
  display: inline-block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: gray;
  margin: 0px 20px;
}

.dot:hover {
  background-color: white;
}

.active {
  background-color: #f491b8;
}

/* FOR BOX CHOOSE */
.box_choose {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  opacity: .6;
  z-index: 1;
  display: none;
}

